@model ApplicationUser

@{
    ViewData["Title"] = "User Details";
}
<style>
    .btn-custom {
        background-color: #004260;
        color: white;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>



<div class="container">
    <div class="header-container mb-3">
        <img class="mb-3" src="/src/UserDetails.png" alt="Logo" height="80">
        <a asp-action="GetAllUsers" class="btn btn-custom">Back to List</a>
    </div>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>@Html.DisplayFor(model => model.Id)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>@Html.DisplayFor(model => model.FullName)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Phone Number</th>
                <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Gender</th>
                <td>@(Model.Gender == 'M' ? "Male" : "Female")</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Birthdate</th>
                <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>@Html.DisplayFor(model => model.Address)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>




