@model ApplicationUser

@{
    ViewData["Title"] = "User Details";
}


<style>

    .btn-custom{
        background-color: #004260;
        color: white;
    }

    .my-card {
        background-color: hsl(0, 0%, 96%);
    }
</style>

<a asp-action="GetAllUsers" class="btn btn-custom">Back to List</a>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-card">
                <div class="card-body my-2 mx-4">
                    <h1 class="text-center fw-bold ls-tight mb-4">User Details</h1>
                    
                        <div class="row">
                            <div class="col-4">
                                <strong class="text-muted">Id</strong>
                            </div>
                            <div class="col-8">
                                @Html.DisplayFor(model => model.Id)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <strong class="text-muted">Name</strong>
                            </div>
                            <div class="col-8">
                                @Html.DisplayFor(model => model.FullName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <strong class="text-muted">Email</strong>
                            </div>
                            <div class="col-8">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-4">
                            <strong class="text-muted">Phone Number</strong>
                        </div>
                        <div class="col-8">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <strong class="text-muted">Gender</strong>
                        </div>
                        <div class="col-8">
                            @(Model.Gender == 'M' ? "Male" : "Female")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <strong class="text-muted">Birthdate</strong>
                        </div>
                        <div class="col-8">
                            @Html.DisplayFor(model => model.DateOfBirth)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <strong class="text-muted">Address</strong>
                        </div>
                        <div class="col-8">
                            @Html.DisplayFor(model => model.Address)
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



