@using LoanManagementSystem.ViewModel
@using LoanManagementSystem.Models
@model ApplicationUser

@{
    ViewData["Title"] = "Profile";
}

<style>
    .btn-custom {
        background-color: #004260;
        color: white;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .blue-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        color: #004260;
    }

    .red-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        color: #ff473c;
    }
</style>

<div class="container">
    <div class="header-container mb-3">
        <div>
            <span class="blue-text">Profile</span><span class="red-text">Details</span>
        </div>
    <a class="btn btn-custom" asp-controller="Authentication" asp-action="EditPassword">Update Password</a>
    </div>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>@Html.DisplayFor(model => model.FullName)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @if (!(User.IsInRole("Administrator")))
            {
            <tr>
                <th scope="row">Phone Number</th>
                <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Gender</th>
                <td>@(Model.Gender == 'M' ? "Male" : "Female")</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Birthdate</th>
                <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>@Html.DisplayFor(model => model.Address)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            }
        </tbody>
    </table>
</div>

