@using System.Globalization
@model List<Purchase>

<style>
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .thead-custom {
        background-color: #004260;
        color: white;
    }

    .btn-custom {
        background-color: #004260;
        color: white;
    }

    .blue-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        color: #004260;
    }

    .red-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        color: #ff473c;
    }
</style>

<div class="header-container">
    <div>
        <span class="blue-text">Archived</span><span class="red-text">Purchases</span>
    </div>
</div>

<div class="table-responsive rounded">
    <table class="table table-hover">
        <thead class="thead-custom">
            <tr>
                <th>Gadget Name</th>
                <th>Interest</th>
                <th>Payment Term</th>
                <th>Monthly Payment</th>
                <th>Date Purchased</th>
                <th>Status</th>
                <th>Actions</th>
                @if (User.IsInRole("Administrator"))
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model)
            {
                <tr>
                    <td>@purchase.GadgetName</td>
                    <td>@purchase.Interest%</td>
                    <td>@purchase.PaymentTerm months</td>
                    <td>@purchase.Payment</td>
                    <td>@purchase.DatePurchased.ToShortDateString()</td>
                    <td>@purchase.Status</td>
                    <td><a type="button" class="btn btn-custom mt-1 mx-1" asp-controller="UGadgetLoan" asp-action="PurchaseDetails" asp-route-id="@purchase.Id">View</a></td>
                    @if(User.IsInRole("Administrator"))
                    {
                        <td>
                            <form method="post" asp-controller="UGadgetLoan" asp-action="DeletePurchase" asp-route-purchaseId="@purchase.Id" onsubmit="return confirm('Are you sure you want to Delete this purchase permanently?')">
                                <button type="submit" class="btn btn-custom mt-1 mx-1">Delete Purchase</button>
                                <input type="hidden" name="purchaseId" value="@purchase.Id" />
                                @Html.AntiForgeryToken()                              
                            </form>
  
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
