@model LoanManagementSystem.ViewModel.PurchaseViewModel

<h2>Thank you for your purchase!</h2>

<div>
    <p><strong>Gadget Name:</strong> @Model.GadgetName</p>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Price:</strong> Php: @Model.Price</p>
    <p><strong>Interest:</strong> % @Model.Interest</p>
    <p><strong>Payment Term:</strong> Months: @Model.PaymentTerm</p>
    <p><strong>Payment:</strong> Php: @Model.Payment</p>
</div>

<p>You can view your purchase on My Purchases.</p>
