@model LoanManagementSystem.ViewModel.PurchaseViewModel


<h1>Confirm Purchase</h1>

<p>Are you sure you want to purchase the following gadget?</p>

<dl>
    <dt>Gadget Name</dt>
    <dd>@Model.GadgetName</dd>

    <dt>Description</dt>
    <dd>@Model.Description</dd>

    <dt>Price</dt>
    <dd>@Model.Price.ToString("C")</dd>

    <dt>Interest Rate</dt>
    <dd>@Model.Interest.ToString("P")</dd>

    <dt>Payment Term</dt>
    <dd>@Model.PaymentTerm.ToString()</dd>

    <dt>Payment Amount</dt>
    <dd>@Model.Payment.ToString("C")</dd>
</dl>

<form asp-action="CompletePurchase" method="post">
    @Html.AntiForgeryToken()

    <input type="submit" value="Confirm Purchase" />
</form>

<p>
    <a asp-action="Index">Cancel</a>
</p>