@model LoanManagementSystem.ViewModel.PurchaseViewModel

<h1>Purchase Confirmed</h1>

<p>You have successfully purchased @Model.GadgetName!</p>
<p>You will be making @Model.PaymentTerm monthly payments of @Model.Payment with an interest rate of @Model.Interest%.</p>
<p>The total price of your purchase is @Model.Price.</p>

<a asp-action="MyPurchases" class="btn btn-primary">View My Purchases</a>
