@model LoanManagementSystem.ViewModel.PurchaseViewModel
@using System.Globalization;


<style>
    .btn-color {
        background-color: #004260;
        color: white;
    }

    .blue-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #004260;
    }

    .red-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #ff473c;
    }
</style>


<div>
    <span class="blue-text">Confirm</span><span class="red-text">Purchase</span>
</div>
<div class="row">
    <div class="col-4">
        <img class="img-thumbnail" src="@Model.GadgetImageURL" alt="@Model.GadgetName"/>
    </div>

    <div class="col-8">
        <h3 class="fw-bold ls-tight">@Model.GadgetName</h3>
        <h5>PHP @Model.Price.ToString("C", new CultureInfo("en-PH"))</h5>
        <p class="my-3">@Model.Description</p>
        <p><strong>Interest:</strong> @Model.Interest%</p>
        <p><strong>Payment Term:</strong> @Model.PaymentTerm.ToString() Months</p>
        <p><strong>Monthly Payment:</strong> @Model.Payment.ToString("C", new CultureInfo("en-PH"))</p>
        <form asp-action="CompletePurchase" method="post">
            @Html.AntiForgeryToken()
            <a type="submit" class="btn btn-light btn-color" asp-controller="UGadgetLoan" asp-action="Purchase" asp-route-gadgetId="@Model.GadgetLoanId">Back</a>
            <input type="submit" class="btn btn-light btn-color" value="Confirm Purchase" />
        </form>
    </div>
</div>


