@using System.Globalization;
@model List<Purchase>



    <style>
        .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .thead-custom{
        background-color: #004260;
        color: white;
        }

        .btn-custom{
        background-color: #004260;
        color: white;
        }

    .blue-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        color: #004260;
    }

    .red-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        color: #ff473c;
    }
    </style>

<div class="header-container mb-1">
    <div>
        <span class="blue-text">My</span><span class="red-text">Purchase</span>
    </div>
    <a type="button" class="btn btn-custom mb-3" asp-area="" asp-controller="UGadgetLoan" asp-action="ArchivedPurchases">View Archived Purchases</a>
</div>
<div class="table-responsive rounded">
    <table class="table table-hover">
        <thead class="thead-custom">
             <tr>
                <th>Gadget Name</th>
                <th>Interest</th>
                <th>Payment Term</th>
                <th>Monthly Payment</th>
                <th>Date Applied</th>
                <th>Status</th>
                <th>Actions</th>
                    
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model)
            {
                <tr>
                    <td>@purchase.GadgetName</td>
                    <td>@purchase.Interest%</td>
                    <td>@purchase.PaymentTerm months</td>
                    <td>@purchase.Payment</td>
                    <td>@purchase.DatePurchased.ToShortDateString()</td>
                    <td>@purchase.Status</td>
                    <td><a type="button" class="btn btn-custom mt-1 mx-1" asp-controller="UGadgetLoan" asp-action="PurchaseDetails" asp-route-id="@purchase.Id">View</a></td>                   
                </tr>
            }
        </tbody>
    </table>
</div>

