@using System.Globalization;
@model List<Purchase>



    <style>
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .thead-custom{
        background-color: #004260;
        color: white;
        }

        .btn-custom{
        background-color: #004260;
        color: white;
        }
    </style>

<div class="header-container">
    <h1 class="fw-bold ls-tight mb-3">My Purchases</h1>
        <a type="button" class="btn btn-custom mb-3" asp-area="" asp-controller="GadgetLoan" asp-action="GetAllGadgets">Get More Gadgets</a>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-custom">
             <tr>
                <th>Gadget Name</th>
                <th>Interest</th>
                <th>Payment Term</th>
                <th>Monthly Payment</th>
                <th>Date Applied</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model)
            {
                <tr>
                    <td>@purchase.GadgetName</td>
                    <td>@purchase.Interest%</td>
                    <td>@purchase.PaymentTerm months</td>
                    <td>@purchase.Payment</td>
                    <td>@purchase.DatePurchased.ToShortDateString()</td>
                    <td><a type="button" class="btn btn-custom mt-1 mx-1" asp-controller="UGadgetLoan" asp-action="PurchaseDetails" asp-route-id="@purchase.Id">View</a></td>
                    <td>
                        <form method="post" asp-controller="UGadgetLoan" asp-action="WithdrawPurchase" asp-route-purchaseId="@purchase.Id" onsubmit="return confirm('Are you sure you want to withdraw this purchase?')">
                            <button type="submit" class="btn btn-custom mt-1 mx-1">Withdraw Purchase</button>
                            <input type="hidden" name="purchaseId" value="@purchase.Id" />
                            @Html.AntiForgeryToken()
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@*
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Gadget Name</th>
            <th>Interest</th>
            <th>Payment Term</th>
            <th>Payment Amount</th>
            <th>Date Purchased</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var purchase in Model)
        {
            <tr>
                <td>@purchase.GadgetName</td>
                <td>@purchase.Interest%</td>
                <td>@purchase.PaymentTerm months</td>
                <td>@purchase.Payment.ToString("C", new CultureInfo("en-PH"))</td>
                <td>@purchase.DatePurchased.ToShortDateString()</td>
                <td><a type="button" class="btn btn-light btn-block mt-1 mx-1" asp-controller="UGadgetLoan" asp-action="GetPurchaseById" asp-route-purchaseId="@purchase.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>

*@