@model LoanManagementSystem.ViewModel.PurchaseViewModel

<style>
    .btn-color {
        background-color: #004260;
        color: white;
    }
</style>


<h1 class="fw-bold ls-tight">Gadget Loan</h1>
<div class="row">
    <div class="col-4">
        <img class="img-thumbnail" src="@Model.GadgetImageURL" alt="@Model.GadgetName" />
    </div>
    <div class="col-8">
        <h3 class="fw-bold ls-tight">@Model.GadgetName</h3>
        <h5>PHP @Model.Price</h5>
        <p class="my-3">@Model.Description</p>     
        <form method="post" asp-controller="UGadgetLoan" asp-action="ConfirmPurchase">
            <input type="hidden" name="gadgetId" value="@Model.GadgetLoanId" />

            <div class="form-group">
                <label for="paymentTerm">Payment Term</label>
                <select class="form-control" id="paymentTerm" name="paymentTerm" required>
                    <option value="">Select Payment Term</option>
                    @foreach (var imp in Model.AvailablePaymentTerms)
                    {
                        var interestRate = imp.Interest * 100;
                        <option value="@imp.Id">@imp.PaymentTerm Months @interestRate.ToString("0.0")% Interest</option>
                    }
                </select>
            </div>
            <a type="submit" class="btn btn-light btn-color" asp-controller="GadgetLoan" asp-action="GetAllGadgets">Back to list</a>
            <button type="submit" class="btn btn-light btn-color">Confirm</button>

        </form>
    </div>
</div>


