@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Globalization;
@model Purchase



<style>
    .btn-custom {
        background-color: #004260;
        color: white;
    }

    .thead-custom
    {
        background-color: #004260;
        color: white;
    }


    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .blue-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #004260;
    }

    .red-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #ff473c;
    }
</style>

<div class="header-container mb-3">
    <div>
        <span class="blue-text">Purchase</span><span class="red-text">Details</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img class="img-thumbnail mb-4" src="@Model.GadgetImageURL" alt="@Model.GadgetName"/>
    </div>

    <div class="col-8">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th class="col-4" scope="row">Gadget Name</th>
                    <td class="col-8">@Model.GadgetName</td>

                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td>PHP @Model.Price.ToString("C", new CultureInfo("en-PH"))</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <th scope="row">Interest</th>
                    <td>@Model.Interest%</td>
                </tr>
                <tr>
                    <th scope="row">Payment Term</th>
                    <td>@Model.PaymentTerm.ToString() Months</td>
                </tr>
                <tr>
                    <th scope="row">Monthly Payment</th>
                    <td>@Model.Payment.ToString("C", new CultureInfo("en-PH"))</td>
                </tr>
                <tr>
                    <th scope="row">Date Applied</th>
                    <td>@Model.DatePurchased</td>
                </tr>

            </tbody>
        </table>
        @if (User.IsInRole("Administrator"))
        {
            <div class="container">
                <div>
                    <span class="blue-text">User</span><span class="red-text">Details</span>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class="col-4" scope="row">Name</th>
                            <td class="col-8">@Model.ApplicationUser.FullName</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>@Model.ApplicationUser.Email</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone Number</th>
                            <td>@Model.ApplicationUser.PhoneNumber</td>
                        </tr>
                        <tr>
                            <th scope="row">Gender</th>
                            <td>@Model.ApplicationUser.Gender</td>
                        </tr>
                        <tr>
                            <th scope="row">Birthdate</th>
                            <td>@Model.ApplicationUser.DateOfBirth</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>@Model.ApplicationUser.Address</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        }
        @if (!(User.IsInRole("Administrator")))
        {
            <div class="clearfix">
            <a type="submit" class="btn btn-light btn-custom float-left" asp-controller="UGadgetLoan" asp-action="MyPurchases">Back</a>
            @if (Model.Status == "Pending")
            {
                <td>
                    <form method="post" asp-controller="UGadgetLoan" asp-action="WithdrawPurchase" asp-route-purchaseId="@Model.Id" onsubmit="return confirm('Are you sure you want to withdraw this purchase?')">
                        <button type="submit" class="btn btn-danger mt-1 mx-1 float-right">Withdraw Purchase</button>
                        <input type="hidden" name="purchaseId" value="@Model.Id" />
                        @Html.AntiForgeryToken()
                    </form>
                </td>
            }
            </div>
        }
        @if (User.IsInRole("Administrator"))
        {
            <div class="clearfix">
                <a type="submit" class="btn btn-light btn-custom float-left" asp-controller="UGadgetLoan" asp-action="Purchases">Back</a>
                @if (Model.Status == "Pending")
                {
                    <form method="post" asp-controller="UGadgetLoan" asp-action="ApprovePurchase" asp-route-purchaseId="@Model.Id" onsubmit="return confirm('Processing your approval')">
                        <button type="submit" class="btn btn-success mx-1 float-right">Approve</button>
                        <input type="hidden" name="purchaseId" value="@Model.Id" />
                        @Html.AntiForgeryToken()
                    </form>
                    <form method="post" asp-controller="UGadgetLoan" asp-action="DeclinePurchase" asp-route-purchaseId="@Model.Id" onsubmit="return confirm('Declining this purchase')">
                        <button type="submit" class="btn btn-danger mx-1 float-right">Decline</button>
                        <input type="hidden" name="purchaseId" value="@Model.Id" />
                        @Html.AntiForgeryToken()
                    </form>
                }
            </div>
        }
    </div>
</div>


