@model LoanManagementSystem.ViewModel.PurchaseViewModel

<style>
    .btn-color {
        background-color: #004260;
        color: white;
    }

    .blue-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #004260;
    }

    .red-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #ff473c;
    }
</style>


<div>
    <span class="blue-text">Gadget</span><span class="red-text">Loan</span>
</div>
<div class="row">
    <div class="col-4">
        <img class="img-thumbnail" src="@Model.GadgetImageURL" alt="@Model.GadgetName" />
    </div>
    <div class="col-8">
        <h3 class="fw-bold ls-tight">@Model.GadgetName</h3>
        <h5>PHP @Model.Price</h5>
        <p class="my-3">@Model.Description</p>     
        <form method="post" asp-controller="UGadgetLoan" asp-action="ConfirmPurchase">
            <input type="hidden" name="gadgetId" value="@Model.GadgetLoanId" />
            <div class="form-group">
                <label for="paymentTerm">Payment Term</label>
                <select class="form-control" id="paymentTerm" name="paymentTerm" required>
                    <option value="">Select Payment Term</option>
                     @foreach (var paymentTerm in Model.AvailablePaymentTerms)
                    {
                        <option value="@paymentTerm.Id">@paymentTerm.PaymentTerm months - @paymentTerm.Interest% interest</option>
                    }
                </select>
            </div>
            <input type="hidden" name="gadgetId" value="@Model.GadgetLoanId" />
            <input type="hidden" name="paymentTerm" value="@Model.PaymentTerm" />
            <div class="clearfix">
            <a type="submit" class="btn btn-light btn-color float-left" asp-controller="GadgetLoan" asp-action="GetAllGadgets">Back to list</a>
            <button type="submit" class="btn btn-color float-right">Confirm</button>
            </div>

        </form>
    </div>
</div>
