@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Globalization;
@model Purchase



<style>
    .btn-custom {
        background-color: #004260;
        color: white;
    }

    .thead-custom
    {
        background-color: #004260;
        color: white;
    }


    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div class="header-container mb-3">
    <img class="mb-3" src="/src/PurchaseDetails.png" alt="Logo" height="50">
    @if (!(User.IsInRole("Administrator")))
    {
        <a type="submit" class="btn btn-light btn-custom" asp-controller="UGadgetLoan" asp-action="MyPurchases">Back</a>
    }
    @if (User.IsInRole("Administrator"))
    {
        <a type="submit" class="btn btn-light btn-custom" asp-controller="UGadgetLoan" asp-action="Purchases">Back</a>
    }
</div>

<div class="row">
    <div class="col-4">
        <img class="img-thumbnail mb-4" src="@Model.GadgetImageURL" alt="@Model.GadgetName"/>
    </div>

    <div class="col-8">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th class="col-4" scope="row">Gadget Name</th>
                    <td class="col-8">@Model.GadgetName</td>

                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td>PHP @Model.Price.ToString("C", new CultureInfo("en-PH"))</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <th scope="row">Interest</th>
                    <td>@Model.Interest%</td>
                </tr>
                <tr>
                    <th scope="row">Payment Term</th>
                    <td>@Model.PaymentTerm.ToString() Months</td>
                </tr>
                <tr>
                    <th scope="row">Monthly Payment</th>
                    <td>@Model.Payment.ToString("C", new CultureInfo("en-PH"))</td>
                </tr>
                <tr>
                    <th scope="row">Date Applied</th>
                    <td>@Model.DatePurchased</td>
                </tr>

            </tbody>
        </table>
        @if (User.IsInRole("Administrator"))
        {
            <div class="container">
                <img class="mb-3 mt-4" src="/src/UserDetails.png" alt="Logo" height="50">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class="col-4" scope="row">Name</th>
                            <td class="col-8">@Model.ApplicationUser.FullName</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>@Model.ApplicationUser.Email</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone Number</th>
                            <td>@Model.ApplicationUser.PhoneNumber</td>
                        </tr>
                        <tr>
                            <th scope="row">Gender</th>
                            <td>@Model.ApplicationUser.Gender</td>
                        </tr>
                        <tr>
                            <th scope="row">Birthdate</th>
                            <td>@Model.ApplicationUser.DateOfBirth</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>@Model.ApplicationUser.Address</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        }
    </div>
</div>


