@using System.Globalization;
@model List<Purchase>


<h1 class="fw-bold ls-tight">Gadget Loan Applications</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Gadget Name</th>
            <th>Interest</th>
            <th>Payment Term</th>
            <th>Date Purchased</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var purchase in Model)
        {
            <tr>
                <td>@purchase.ApplicationUser.FullName</td>
                <td>@purchase.ApplicationUser.PhoneNumber</td>
                <td>@purchase.GadgetName</td>
                <td>@purchase.Interest%</td>
                <td>@purchase.PaymentTerm months</td>
                <td>@purchase.DatePurchased</td>
                <td><a type="button" class="btn btn-primary mt-1 mx-1" asp-controller="UGadgetLoan" asp-action="PurchaseDetails" asp-route-id="@purchase.Id">View</a></td>
                
            </tr>
        }
    </tbody>
</table>
