@using System.Globalization;
@model List<Purchase>


<style>
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-custom {
        background-color: #004260;
        color: white;
    }
    .thead-custom{
        background-color: #004260   ;
        color: white;
    }
</style>

<div class="header-container mb-3">
    <img src="/src/ViewPurchases.png" alt="Logo" height="80">
    <a type="button" class="btn btn-custom mb-3" asp-area="" asp-controller="UGadgetLoan" asp-action="ArchivedPurchases">View Archived Purchases</a>
</div>
<form action="/UGadgetLoan/Purchases" method="get">
    <div class="search-form row g-0">
        <div class="form-group col-10">
            <input type="text" name="searchQuery" class="form-control" placeholder="Search..." value="@ViewBag.SearchQuery">
        </div>
        <div class="form-group col-2">
            <button type="submit" class="btn btn-custom btn-block">Search</button>
        </div>
    </div>
</form>

<div class="table-responsive rounded">
<table class="table table-hover">
    <thead class="thead-custom">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Gadget Name</th>
            <th>Interest</th>
            <th>Payment Term</th>
            <th>Date Applied</th>
            <th>Status</th>
            <th></th>    
        </tr>
    </thead>
    <tbody>
        @foreach (var purchase in Model)
        {
            <tr>
                <td>@purchase.ApplicationUser.FullName</td>
                <td>@purchase.ApplicationUser.PhoneNumber</td>
                <td>@purchase.GadgetName</td>
                <td>@purchase.Interest%</td>
                <td>@purchase.PaymentTerm months</td>
                <td>@purchase.DatePurchased</td>
                <td>@purchase.Status</td>
                <td><a type="button" class="btn btn-custom mt-1 mx-1" asp-controller="UGadgetLoan" asp-action="PurchaseDetails" asp-route-id="@purchase.Id">View</a></td>                
            </tr>
        }
    </tbody>
</table>
</div>
