@model LoanManagementSystem.ViewModel.AdminPurchasesViewModel

<h2>All Purchases</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Item</th>
            <th>Payment Term</th>
            <th>Interest Rate</th>
            <th>Payment Amount</th>
            <th>Purchase Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var purchase in Model.Purchases)
        {
                <tr>
                    <td>@purchase.Id</td>
                    <td>@purchase.UserName (@purchase.UserId)</td>
                    <td>@purchase.GadgetName</td>
                    <td>@purchase.PaymentTerm</td>
                    <td>@purchase.Interest</td>
                    <td>@purchase.Payment</td>
                    <td>@purchase.DatePurchased.ToShortDateString()</td>
                </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Home")">Return to Home</a>
